@import 'tailwindcss';

@theme {
  --color-amaranth-lightest: #EB3386;
  --color-amaranth-light: #DF1670;
  --color-amaranth-base: #AA1155;
  --color-amaranth-dark: #950F4B;
  --color-amaranth-darkest: #6F0B38;

  --color-aquamarine-lightest: #79F6DD;
  --color-aquamarine-light: #53F3D3;
  --color-aquamarine-base: #23F0C7;
  --color-aquamarine-dark: #0FD2AB;
  --color-aquamarine-darkest: #0B997C;

  --color-space-lightest: #768693;
  --color-space-light: #63727E;
  --color-space-base: #4C5760;
  --color-space-dark: #3F4850;
  --color-space-darkest: #363E45;

  --color-thistle-lightest: #D3C4D1;
  --color-thistle-light: #BAA1B6;
  --color-thistle-base: #A88AA4;
  --color-thistle-dark: #8D6888;
  --color-thistle-darkest: #755771;

  --color-sunglow-lightest: #FFD166;
  --color-sunglow-light: #FFC847;
  --color-sunglow-base: #FFC233;
  --color-sunglow-dark: #FFBC1F;
  --color-sunglow-darkest: #FFB60A;
}
